<!doctype html>
<html lang="ko">
    <header>
        <meata charset="utf-8">
        <title>모의 주식</title>
        <link rel="stylesheet" type="text/css" href="style2.css">
    </header>
  <body>
    <h1>
        <p style="text-align:center;">커스텀 플레이</p>
    </h1>
    <section>
        
    
        <h1>게임에서 사용할 닉네임을 적어주세요</h1>

        
        
        <form action="/examples/media/action_target.php" method="get">
            닉네임 : <input type="text" name="st_name">
            <input type="submit">
        </form>
    
       
    
        <div>
          <article>
            <div class="div3">
                <h2>커스텀 방 만들기</h2>
                <button type="button"><img src="button.png" alt="click me" style="width:10px; height:10px;"></button>
            </div>
            
          </article>
        </div>
    
        
    
        <div>
          <article>
            <div class="div4">
                <h2>커스텀 방 참여하기</h2>
                <button type="button"><img src="button.png" alt="click me" style="width:10px; height:10px;"></button>
            </div>
          </article>
        </div>
    
        
    
        
    
        
      </section>
  </body>

  
 


