<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link rel="stylesheet" href="/css/customGameParticipantPage.css">
        <link rel="stylesheet" href="/css/default.css">
    </head>
    <body>
        <div class="container">
            <div class="game_setting_box"> <!-- 왼쪽 설정 박스 -->
                <div class="game_setting_container">

                    <div class="game_setting_header">
                        <span class="game_host">OOO의 방</span>
                    </div>

                    <div class="game_setting_body">
                        <div class="game_setting_element round_setting_box">
                            <p class="round_setting">라운드</p>
                            <div class="setting_box">
                                <span class="round">5</span>
                            </div>
                        </div>
                        <div class="game_setting_element time_limit_setting_box">
                            <p class="time_limit_setting">라운드별 제한시간</p>
                            <div class="setting_box">
                                <span class="time_limit">5:00</span>
                            </div>
                        </div>
                        <div class="game_setting_element seed_setting_box">
                            <p class="seed_setting">초기자금</p>
                            <div class="setting_box">
                                <span class="seed">1,000,000</span>
                            </div>
                        </div>
                    </div>

                    <div class="game_setting_footer">
                        <button class="game_exit_btn">나가기</button>
                    </div>

                </div>


            </div> <!-- 왼쪽 설정 박스 -->

            <div class="participants_list_box"> <!-- 오른쪽 참여자 리스트 박스 -->
                <div class="list_header">
                    <span class="list_title">참여자</span>
                </div>
                <div class="list_body">
                    <ul class="participants_list">
                        <li>
                            <div class="list_info img_box"></div>
                            <div class="list_info user_info_box">
                                <span class="user_info user_nickname">닉네임</span>
                                <span class="user_info user_type">host</span>
                            </div>
                        </li>
                        <li>
                            <div class="list_info img_box"></div>
                            <div class="list_info user_info_box">
                                <span class="user_info user_nickname">닉네임</span>
                                <span class="user_info user_type">participant</span>
                            </div>
                        </li>
                        <li>
                            <div class="list_info img_box"></div>
                            <div class="list_info user_info_box">
                                <span class="user_info user_nickname">닉네임</span>
                                <span class="user_info user_type">participant</span>
                            </div>
                        </li>
                        <li>
                            <div class="list_info img_box"></div>
                            <div class="list_info user_info_box">
                                <span class="user_info user_nickname">닉네임</span>
                                <span class="user_info user_type">participant</span>
                            </div>
                        </li>
                        <li>
                            <div class="list_info img_box"></div>
                            <div class="list_info user_info_box">
                                <span class="user_info user_nickname">닉네임</span>
                                <span class="user_info user_type">participant</span>
                            </div>
                        </li>
                        <li>
                            <div class="list_info img_box"></div>
                            <div class="list_info user_info_box">
                                <span class="user_info user_nickname">닉네임</span>
                                <span class="user_info user_type">participant</span>
                            </div>
                        </li>
                        <li>
                            <div class="list_info img_box"></div>
                            <div class="list_info user_info_box">
                                <span class="user_info user_nickname">닉네임</span>
                                <span class="user_info user_type">participant</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list_footer">
                    <span class="user_count">총 20명</span>
                </div>
            </div> <!-- 오른쪽 참여자 리스트 박스 -->
        </div>

    </body>
</html>