<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <header>
    <meta charset="utf-8">
    <title>모의 주식</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </header>

  <body>
    <section>

      <h1>플레이 방식 선택</h1>

      <br/>
      <br/>

      <div>
        <article>
          <div class="div1">
            <h2>온라인 플레이</h2>
            <h3>다른 유저들과 즐기는 모의 투자</h3>
            <a href="/online">
              <button type="button"><img src="button.png" alt="click me" style="width:10px; height:10px;">
              </button>
            </a>
          </div>

        </article>
      </div>

      <div>
        <article>
          <div class="div2">
            <h2>커스텀 플레이</h2>
            <div><h3>주변 친구들과 간단하게 즐기는 모의 투자</h3></div>
            <a href="/offline">
              <button type="button"><img src="button.png" alt="click me" style="width:10px; height:10px;">
              </button>
            </a>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
