<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style4.css">
    <title>모의 주식</title>
    
</head>
<body>
    <article class="Participants3">
        <h1>참여자</h1>
        <div class="total">
            <h3>총 OO명</h3>
        </div>
        <ul class="totalProfile">
            <li class="pro1">
                <img class="img1" src="profile.png" width="50" height="50">
                <div class="a1">닉네임</div>
            </li>
            <br/>
            <li class="pro2">
                <img class="img2" src="profile.png" width="50" height="50">
                <div class="a1">닉네임</div>
            </li>
            <br/>
            <li class="pro3">
                <img class="img3" src="profile.png" width="50" height="50">
                <div class="a1">닉네임</div>
            </li>
            <br/>
            <li class="pro4">
                <img class="img4" src="profile.png" width="50" height="50">
                <div class="a1">닉네임</div>
            </li>
            <br/>
            <li class="pro5">
                <img class="img5" src="profile.png" width="50" height="50">
                <div class="a1">닉네임</div>
            </li>
            <br/>
            <li class="pro6">
                <img class="img6" src="profile.png" width="50" height="50">
                <div class="a1">닉네임</div>
            </li>
            <br/>
        </ul>
        
    </article>
    <h1 class="name1">OOO의 방 설정 정보</h1>

        <div class="qr">
            QR코드
        </div>
    <article class="Participants4">
        <ul>
            <li>라운드</li>
                <div class="round">
                    O
                </div>
                <hr style="width:50%; margin-top: 30px;"/>
                <br/>
                <li>라운드 별 제한 시간</li>
                <div class="roundTime">
                    O:OO
                </div>
                <hr style="width:50%; margin-top: 30px;"/>
                <br/>
                <li>초기 자금</li>
                <div class="roundMoney">
                    O,OOO,OOO
                </div>
                <hr style="width:50%; margin-top: 30px;"/>
        </ul>
        <div class="btn_group">
            <button class="start"> 시작 </button>
        </div>
    </article>
    
    
</body>


</html>
