<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <header>
        <meta charset="utf-8">
        <title>모의 주식</title>
        <link rel="stylesheet" type="text/css" href="./style3.css">
    </header>
<body>

    <article class="Participants">
        <h1>참여자</h1>
        <div class="total">
            <h3>총 OO명</h3>
        </div>
        


        <div class="name1">
            <div class="img1">
                <img src="profile.png" style="width:100px; height: 80px;" alt="profile1" >
            </div>
            <div class="profile1">
                닉네임
            </div>
            
        </div>

        <br/>

        <div class="name2">
            <div class="img2">
                <img src="profile.png" style="width:100px; height: 80px;" alt="profile2" >
            </div>
            <div class="profile2">
                닉네임
            </div>
            
        </div>

        <br/>

        <div class="name3">
            <div class="img3">
                <img src="profile.png" style="width:100px; height: 80px;" alt="profile3" >
            </div>
            <div class="profile3">
                닉네임
            </div>
            
        </div>

        <br/>

        <div class="name4">
            <div class="img4">
                <img src="profile.png" style="width:100px; height: 80px;" alt="profile4" >
            </div>
            <div class="profile4">
                닉네임
            </div>
            
            
            
        </div>

        <br/>

        <div class="name5">
            <div class="img5">
                <img src="profile.png" style="width:100px; height: 80px;" alt="profile5" >
            </div>
            <div class="profile5">
                닉네임
            </div>
            
        </div>

        <br/>

        <div class="name6">
            <div class="img6">
                <img src="profile.png" style="width:100px; height: 80px;" alt="profile6" >
            </div>
            <div class="profile6">
                닉네임
            </div>
        </div>

        
        
    </article>

    <article class="Participants2">
        <h1>OOO의 방</h1>
    </article>



</body>


